
.App {
  text-align: center;
}
.showrand{
  position: absolute;
  background:blue;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
  /*background-color: #000;
border-top: 2px outset #d0d0d0;
border-left: 2px outset #d0d0d0;
border-right: 2px outset #a9a9a9;
border-bottom: 2px outset #a9a9a9;
color: #32cd32;
font-size:175%;
text-align: center;
margin: 0 -0.2em 0 0;
padding: 0.1em;
width: 1.1em;*/
}
.timer{
  top:5%;
  position:absolute;
  width: 50%;
  height: 90px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.welcome{
  opacity: 1;
  transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -ms-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
}

.choose-keys{
  position: absolute;
  top: 60%;
  left: 48%;
  color: none;
  background-color: transparent; /* Green */
  border: white;
  color: white;
  border: 2px solid white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
}

.simulator-container {
  margin: auto;
  width: 50%;
}

.start {
  position: absolute;
  top: 60%;
  left: 39%;
  color: none;
  background-color: transparent; /* Green */
  border: white;
  color: white;
  border: 2px solid white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
}

.nevermind {
  color: none;
  background-color: transparent; /* Green */
  border: white;
  color: white;
  border: 2px solid white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
}
.title{
  color: white;
  text-align: right;
position: absolute;
top: 50%;
left: 52%;
transform: translate(-50%, -50%);
color: white;
font-size: 350%;
transform-origin: left top 0;
letter-spacing: 3px;
font-size: 80px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 2.2px;
}

.slogan{
  color: white;
  color: white;
  text-align: right;
position: absolute;
top: 56.5%;
left: 52%;
transform: translate(-50%, -50%);
color: white;
font-size: 350%;
transform-origin: left top 0;
letter-spacing: .5px;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 2.2px;
text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
}
.match{
  top: 90.5%;
  left: 40%;
}

.sign-in-form {
  top: 50.5%;
  left: 40%;
  color: white;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000
}
